@charset "utf-8";
.topbar{
	height: 70px;
background: #333333;
}
body {
	color: #000;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;

	margin: 0;
}
h1 {
	background:#fff;
	color: #003d4c;
	font-size: 100%;
}

a.logo{
float: left;
margin-top: 10px;
margin-left: 2%;
}

.account li {
	text-decoration: none;
	list-style: none;
	margin-top: 0px;

}
.account {
margin-top:-15px;
padding-top: 0;

}
.account a {
	margin-top: 0px;
float:right;
display: inline-block;
height: 70px;
line-height: 70px;
padding: 0 15px;
font-weight: bold;
font-size: 14px;
border-left: 1px solid rgba(255,255,255,0.05);
border-right: 1px solid rgba(0,0,0,0.4);
color: #a5a5a5;
text-decoration: none;
text-shadow: 0px -1px 0px #000;

-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-ms-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;

}

#menu_header {
float: right;
width: 700px;
position: relative;
right: 50%;
height: 30px;
margin: 60px -500px 0 0;
}

#menu_header li {
display: inline;
float: right;
padding: 0px;
}

#menu_header li a {
font-size: 15px;

color: #999;
text-decoration: none;
float: left;
padding: 0 15px 0 15px;
height: 30px;
line-height: 30px;
cursor: pointer;
text-transform: uppercase;
-webkit-transition: color 0.2s ease-in-out;
-moz-transition: color 0.2s ease-in-out;
-o-transition: color 0.2s ease-in-out;
transition: color 0.2s ease-in-out;
}

